[manifest]
version = "1.0.0"
dump_lua = true
priority = 1

# Dark Days: Override blind amount
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "local blind_amt = get_blind_amount(G.GAME.round_resets.blind_ante)*blind_choice.config.mult*G.GAME.starting_params.ante_scaling"
position = "after"
payload = '''
if G.GAME.modifiers.lobc_all_whitenight and blind_choice.config.key == "bl_lobc_whitenight" then
    if G.GAME.round_resets.blind_ante <= 1 then blind_amt = blind_amt / 6 end
    if G.GAME.round_resets.blind_ante == 2 then blind_amt = blind_amt / 3 end
    if G.GAME.round_resets.blind_ante == 3 then blind_amt = blind_amt / 2 end
end'''
match_indent = true

# Discipline: change Ante counter
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "{n=G.UIT.T, config={ref_table = G.GAME, ref_value='win_ante', scale = scale, colour = G.C.WHITE, shadow = true}}"
position = "at"
payload = '''
(G.GAME.modifiers.lobc_gebura or (string.lower(G.PROFILES[G.SETTINGS.profile].name or '') == "ishmael" or (os.date("%d%m") == "0104" and not lobc_seen_what))) and {n=G.UIT.T, config={text = "8?", scale = scale}} or 
{n=G.UIT.T, config={ref_table = G.GAME, ref_value='win_ante', scale = scale, colour = G.C.WHITE, shadow = true}}'''
match_indent = true

# Override Steamodded's challenges unlock all
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "challenge_list[#challenge_list+1] ="
position = "before"
payload = '''
if v.mod and v.mod.id == "LobotomyCorp" then
    if v.unlocked and type(v.unlocked) == 'function' then
        challenge_unlocked = v:unlocked()
    elseif type(v.unlocked) == 'boolean' then
        challenge_unlocked = v.unlocked
    end
end'''
match_indent = true

# Patch G.LANG so i can change the font at will
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "self.LANG = self.LANGUAGES[self.SETTINGS.real_language or self.SETTINGS.language] or self.LANGUAGES['en-us']"
position = "at"
payload = "self.LANG = copy_table(self.LANGUAGES[self.SETTINGS.real_language or self.SETTINGS.language] or self.LANGUAGES['en-us'])"
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "{n=G.UIT.T, config={ref_table = G.GAME, ref_value = 'chips_text', lang = G.LANGUAGES['en-us'], scale = 0.85, colour = G.C.WHITE, id = 'chip_UI_count', func = 'chip_UI_set', shadow = true}}"
position = "at"
payload = "{n=G.UIT.T, config={ref_table = G.GAME, ref_value = 'chips_text', font = (G.GAME.modifiers.lobc_yesod and G.GAME.round_resets.ante > 6) and G.FONTS['blank'] or G.LANGUAGES['en-us'].font, scale = 0.85, colour = G.C.WHITE, id = 'chip_UI_count', func = 'chip_UI_set', shadow = true}}"
match_indent = true